
html{
    background-image: url("../img/fondo.jpeg");;
    font-family: 'Quicksand', sans-serif;
}
body {
    width: 1200px;
    margin: 0 auto;

    background-color: rgb(244, 237, 250);

    padding: 0 20px 20px 20px;
    border: 2px solid black;
}
head{
    background-color: #000000;
}


.imagenesMain
{
    height: 220px;
    width: 600px;
    margin: 10px auto; 
    display: block; 
    background-color: black;

}


#imgBolsa{
    
    height: 220px;
    width: 600px;
    margin: 10px auto; 
    display: block; 
    
}



#imagenCabecera
{
    
        padding: 1px;
        border: 1px solid black;
        margin: 5px auto;
        display: block;
        background-color: #edc9fc9f;
    height: 300px;
    width: 800px;
}

.imagenesgrafica{
    height: 250px;
    width: 250px;
    border: 2px solid black;
    display: inline-block;
    
    margin: 10px 20px;
    
}
#imgPrecio{
    height: 350px;
    width: 650px;
    border: 2px solid black;
    display: block;
    
    margin: 10px auto;
}



#navegador ul{
    list-style-type: none;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

#navegador2 ul{
    list-style-type: none;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}


#navegador li{
    display: inline-block;
    text-align: center;
    margin: 10px 20px ;
   
    
    
}
#navegador2 li{
    display: inline-block;
    text-align: center;
    margin: 10px 20px 0 0;

    
    
}

#navegador2 li a {
    padding: 2px 7px 2px 7px;
    color: rgb(0, 0, 0);
    background-color: #f1a3f8c4;
    
    
    border-radius: 15px;
    
}


#navegador li a {
    padding: 2px 7px 2px 7px;
    color: rgb(0, 0, 0);
    background-color: #613aee91;
    
    
    border-radius: 15px;
    
}

#navegador li a:hover{
    background-color: #000000;
    color: #ffffff;
}

#navegador2 li a:hover{
    background-color: #000000;
    color: #ffffff;
}



p#p1Slogan{
    font-size: 20pt;
    text-align: center ;
    padding : 10px ;
    margin: 10px;
    font-family: 'Goldman', cursive;
}


h1#h1Cabecera{
    border: 2px solid #000000;
    background-color: white;
    
    font-size: 30pt;
    margin: 0 auto;
    
    text-align: center;
}

#video1{
    float: right;
}
#boton{
    text-align: center;
    margin: 10px auto;
}

#button1{
    text-decoration: none;
    
    padding: 10px;
    
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

#button1:hover{
    color: #000000;
    background-color : white;

}

.h2titulos{
    font-size: 20pt;
    color: rgb(32, 32, 32);
    margin: 0 auto;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    
}
.h4Intros{
    font-size: 20pt;
    color: rgb(32, 32, 32);
    margin: 10px auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.pTexto{
    font-family: 'Quicksand', sans-serif;
    font-size: 15pt;
    padding: 10px;
    margin : 10px auto;
    text-align: center;
    
}
.pFooter{
    font-size: 20pt;
    color: rgb(32, 32, 32);
    margin: 0 auto;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

h3#h3Cabecera{
    padding: 10px ;
    margin : 10px;
    background-color: rgb(0, 0, 0);
    font-family:  Cursive;
    text-align: center;
    font-size: 29pt;
    color: white;
}
#h2Tabla{
    font-size: 20pt;
    color: rgb(32, 32, 32);
    margin: 0 auto;
    text-align: center;
}




table{
    background-color : #fff;
    margin: 15px auto;
  }


  td,th{
    padding : 8px;
    border-bottom: 1px solid #ccc;
    min-width: auto;
    
  }
  thead > tr>th{
    background-color: rgb(177, 142, 241);
    color: #fff;
    border: 1px #000000 solid ;
  }
  
  td:nth-child(1){
    font-weight: bold;
  }
  